// COLOR VARIABLES
$plum: #812a80;
$disco: #9f1f64;
$pool: #009ee5;
$grey: rgb(242, 242, 242);


// STYLES
body {
    max-width: 1400px;
    margin: auto !important;
    background-color: $grey !important;
}

li {
    margin-bottom: 1rem;
}

section {
    background-color: $grey;
    font-family: 'Outfit';
}

.surgeROI {
    font-family: 'niveau-grotesk', sans-serif;
    -moz-font-feature-settings: "salt";
    -webkit-font-feature-settings: "salt";
    font-feature-settings: "salt";
    background: linear-gradient(40deg, $pool 0%, $disco 80%);

    h3 {
        font-family: brevia, sans-serif;
        font-weight: 500;
        font-style: italic;
    }
}

.tritonCanada {
    font-family: 'Montserrat';
    background: #1c3154 !important;
}

.entegrity {
    background: linear-gradient(60deg, steelblue 5%, cadetblue 100%);
    // background: steelblue !important;
}

// BOOTSTRAP OVERRIDES
.navbar {
    background-color: $grey;
}

.card {
    min-height: 260px !important;
    transition: all 0.4s, filter 0.4s;

    &:hover {
        box-shadow: 0 1rem 3rem rgba(0,0,0,.25) !important;
        transition: all 0.8s;
        transform: scale(103%);

        img {
            transition: transform 0.8s, filter 0.8s;
            transform: scale(110%);
            // filter: drop-shadow(5px 5px 22px rgba(0, 0, 0, 0.3));
        }
    }

    img {
        transition: transform 1s;
    }
}